.guest-bio.text-center
  span.mask
    img.img-responsive(src="http://placekitten.com/266/164")
  h3 Alessia Ramos
  p Creative Director
  p Mellow Creative Crew
  .social-links
    a(href="#")
      i.fa.fa-twitter
    a(href="#")
      i.fa.fa-linkedin
    a(href="#")
      i.fa.fa-home
