.calendar
  .row
    - for (var i = 1; i<5; i++){
      .col-sm-3
        article
          span.help-text.date Week  #{i}
          h1 Design: Creating Better Experiences
          p Understand the basics on how online businesses work and all the tools that will help you develop a more accurate and faster digital business.
          h2 Tracks
          ol
            li What is the internet?
            li How does it work?
            li Buy a domain, set it and host it.

          span.help-text Sensei:
          include guest
    - }


