nav.main-nav
  .nav-icon
    span
    span
    span
  .nav-wrapper
    ul
      li
        a Inicio
      li 
        a Portafolio
      li
        a Nosotros
      li
        a Servicios
      li
        a Blog
      li
        a Contacto
  .social-icons
