.posts-feed
  .container
    article
      .row.post.post-odd
        .post-info
          span.post-number 01
          span.post-icon  
        .col-md-4.post-excerpt
          h1 Hacking for founders
          p Minimize the risk of failure of entepreneurs, by promoting techniques and tools for launching and operating a startup
          a.btn.btn-block.btn-pink Ver más...
        .col-md-8.post-image
          img.img-responsive(src="http://placehold.it/810x465")
    article
      .row.post.post-pair        
        .col-md-8.post-image
          img.img-responsive(src="http://placehold.it/810x465")
        .col-md-4.post-excerpt
          h1 Hacking for founders
          p Minimize the risk of failure of entepreneurs, by promoting techniques and tools for launching and operating a startup
          a.btn.btn-block.btn-pink Ver más...
        .post-info
          span.post-number 02
          span.post-icon    
    article
      .row.post.post-odd
        .post-info
          span.post-number 03
          span.post-icon
        .col-md-4.post-excerpt
          h1 Hacking for founders
          p Minimize the risk of failure of entepreneurs, by promoting techniques and tools for launching and operating a startup
          a.btn.btn-block.btn-pink Ver más...
        .col-md-8.post-image
          img.img-responsive(src="http://placehold.it/810x465")
