.tweet-stream
  .container.jcarousel-wrapper
    .row
      .tweet-carousel(data-jcarousel="true")
        ul
          li.container
            .tweet-item
              .tweet-icon.col-sm-2 Tweet
                i.fa.fa-twitter
              .tweet.col-sm-10 "Hack Institute, the best way to end procastination and get stuff done"
                .tweet-author -Alex Ree, 
                  span ex-student
          li.container
            .tweet-item
              .tweet-icon.col-sm-2 Tweet
                i.fa.fa-twitter
              .tweet.col-sm-10 "Hack Institute, the best way to end procastination and get stuff done"
                .tweet-author -Alex Ree, 
                  span ex-student
          li.container
            .tweet-item
              .tweet-icon.col-sm-2 Tweet
                i.fa.fa-twitter
              .tweet.col-sm-10 "Hack Institute, the best way to end procastination and get stuff done"
                .tweet-author -Alex Ree, 
                  span ex-student
      a.jcarousel-control-prev(data-jcarouselcontrol="true") ‹
      a.jcarousel-control-next(data-jcarouselcontrol="true") ›


