$icon-font-path: '../fonts/';

@import 'bootstrap-theme/bootstrap-config';
@import 'utils/utils';
@import 'components/components';
@import 'pages/pages';

body{
  font-family:  "Aileron", Helvetica, Arial, sans-serif;
  color: $hi_purple;
}

@media screen and (min-width: 1200px){
  .container{
    width: 1200px;
  }
} 

