.calendar{
  background-color: $hi_soft_gray;
  padding: 18px 25px;
  margin: 15px 0;
  article{
    span.date{
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }
    h1, h2, h3{
      font-weight: 800;
      font-style: italic;
    }
    h1{
      color: $hi_mexican_pink;
      font-size: 1.6em;
      border-top: 2px solid $hi_purple;
      padding-top: 25px;
    }
    h2{
      font-size: 1.5em;
    }
    ol{
      padding-left: 18px;
    }
  }
  @media screen and (max-width: $screen-sm-min){
    article{
      margin-top: 20px;
    }
    .bio img{
      margin: 0 auto;
    }
  }
}
