.posts-feed{
  margin-bottom: 20px;
}
.post{
  margin: 50px 0;
  position: relative;
  .post-excerpt, .post-image{
    height: 430px;
    font-weight: 300;
    font-style: italic;
  }
  .post-info{
    position: absolute;
    width: 58px;
  }
  &.post-odd{
    .post-excerpt{
      padding-left: 75px;
    }
  }
  &.post-pair{
    .post-excerpt{
      padding-right: 75px;
    }
  }

  h1{
    padding-top: 60px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.5em;
    span{
      display: block;
      font-size: .7em;
    }
  }
  .btn{
    width: 75%;
    position: absolute;
    bottom: 0;
  }

  @media screen and (max-width: $screen-md-min){
    position: relative;
    padding-top: 36%;

    .post-excerpt, .post-image{
      height: auto;
    }
    .btn{
      position: relative;
      width: 100%;
      margin: 15px 0;
    }
    &.post-odd, &.post-pair{
      .post-excerpt, .post-image{
        padding: 0 75px;
      }
      .post-info{
        left: 0;
        top: 0;
      }
      .post-image{
        position: absolute;
        top: 0;
      }
    }
  }
  @media screen and (max-width: $screen-xs-min){
    padding-top: 17%;
  }
}
