body.about{
  .hero-container{
    position: relative;
    margin-top: 20px;
    .apply{
      position: absolute;
      top: 15px;
      right: 45px;
      background-color: $hi_mexican_pink;
      border-radius: 50%;
      color: white;
      width: 170px;
      height: 170px;
      text-align: center;
      font-size: 2em;
      line-height: 6;
      text-transform: uppercase;
      &:after{
        content: '';
        display: block;
        background: url(../images/icons.png);
        background-position: 0 -94px;
        width: 39px;
        height: 26px;
        margin: 0 auto;
        transform: translateY(-200%);
        transition: all .4s ease;
      }
      &:hover{
        text-decoration: none;
        opacity: .6;
        &:after{
          transform: translateY(-180%);
        }
      }
    }
  }
  .hero-img{
    img{
      width: 100%;
      height: auto;
    }
  }
  .highlight-area{
    background-color: $hi-yellow;
    padding: 25px;
    font-weight: 300;

    h1, h2{
      font-weight: 700;
      font-size: 1.3em;
      position: relative;

      &:before{
        content: '/';
        transform: rotate(20deg);
        position: absolute;
        left: -20px;
        bottom: 0;
      }
    }
    p{
      text-align: justify;
    }
    ul{
      padding-left: 18px;
      list-style: none;
      li{
        position: relative;
        &:before{
          content: '-';
          position: absolute;
          left: -15px;
        }
      }
    }
  }
  @media screen and (max-width: $screen-sm-min){
    .hero-container .apply{
      position: relative;
      width: 100%;
      top: 0;
      right: 0;
      border-radius: 0;
      display: block;
      height: 41px;
      line-height: 1.6;
      &:after{
        display:none;
      }
    }
  }
}
