body.home{
  header{
    position: absolute;
    margin: 0;;
    top: 25px;
    border: none;
    .logo{
      border: none;
    }
  }
  .hero-img{
    display: inline-block;
    width: 100%;
    background-image: url('../images/main_img.jpg');
    background-position: center center;
    background-size: cover;
    height: 92vh;
  }
  .hero-desc{
    position: absolute;
    width: 365px;
    min-height: 365px;
    top: 20%;
    right: 8%;
    background-color: rgba(40, 171, 220, .8);
    padding: 60px 32px 20px;
    text-align: right;
    color: white;
    h1{
      text-transform: uppercase;
      font-size: 2.5em;
      font-weight: bolder;
    }
    h2{
      font-size: 1.8em;
      font-weight: semibold;
    }
    .btn-pink{
      margin-top: 50px;
    }
  }
  .features{
    background-color: $background-low;
    padding: 10px 0;
    margin: 15px 0;
    text-align: center;
    position: relative;
    .highlight{
      position: absolute;
      right: 50%;
      top: -63px;
      transform: translateX(50%);
      color: $hi_purple;
      background-color: $hi_yellow;
      text-transform: uppercase;
      padding: 14px 60px;
      font-size: 1.7em;
      font-weight: bolder;
    }
    .feature{
      padding: 30px;
      font-weight: 300;
    }
    .feature-icon{
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 225px;
      height: 224px;
      border: 9px solid $primary_color;
      border-radius: 50%;    
      &:after{
        content: '';
        background-image: url('../images/hero-icons.png');
        display: inline-block;
        position: absolute;
        width: 65px;
        height: 63px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.in-cloud::after{ background-position: 0 0; }
      &.in-creative::after{ background-position: -66px 0; }
      &.in-business::after{ background-position: -134px 0; }
      &:before{
        position: absolute;
        width: 102%;
        height: 102%;
        border-radius: 50%;
        content: '';
        left: -2px;
        top: -2px;
        background-color: $primary_color;
        transition: all .3s;  
      }
      &:hover{
        &:before{
          transform: scale(0.90);
        }
      }
    }
  }
  @media screen and (max-width: $screen-sm-min){
    .hero-desc{
      width: 100%;
      right: 0;
    }
    .features .highlight{
      position: relative;
    }
  }
}