.btn-pink{
  background-color: $hi_mexican_pink;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  color: white;
  border-radius: 0;
  padding: 12px 0;
  transition: all .4s ease-in-out;

  &:hover{
    color: white;
    opacity: .8;
  }
}
.main-title{
  display: block;
  width: 480px;
  font-size: 2em;
  padding: 20px 45px;
  margin: 50px auto;
  text-align: center;
  border-top: 3px solid $hi_sea_blue;
  border-bottom: 3px solid $hi_sea_blue;
  text-transform: uppercase;
  span{
    font-size: .8em;
    display: block;
    text-transform: none;
  }
  @media screen and (max-width: $screen-sm-min){
    width: 100%;
  }
}
.help-text{
  color: $hi_sea_blue;
  font-weight: 500;
  display: block;
  margin: 15px 0;
}
h1, h2, h3{
  text-transform: uppercase;
}
