//Colors

$hi_yellow: #FFD354;
$hi_purple: #4F414D;
$hi_ulight_purple: #D1CACF;
$hi_mexican_pink: #EC1B54;
$hi_pink: #F36A8F;
$hi_sea_blue: #28ABDC;
$hi_sky_blue: #81C9E6;
$hi_almost_white: #EBEBEC;
$hi_gray: #262324;


$primary_color: $hi_mexican_pink;
$background_low: $hi_ulight_purple;


